.edit-inventory-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-edit-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inventory-edit-row-name {
    margin-right: 4%;
}

.inventory-edit-row-name-entry {
    margin-right: 4%;
}

.inventory-edit-rows {
    margin-bottom: 3%;
}

.edit-inventory-item-title {
    font-size: x-large;
    margin-top: 2%;
}