.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pair-nav-bar {
    margin-bottom: 2%;
}

.pair-buttons {
    display: flex;
    flex-direction: row;

}

.sort-data-pair {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 2%;
}

.sort-descending-pair {
    align-self: center;
}

.sort-button {
    align-self: center;
    margin-left: 2%;
}